<div *blockUI="'verified_minutaTarea'">
    {{title | uppercase}}
    <form [formGroup]="form" (submit)="onSubmit(form.value)" class="normal-form">
        <div class="contenedor">
            <mat-form-field>
                <input matInput formControlName="id" placeholder="Id">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="idMinuta" placeholder="Id Minuta">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="idTarea" placeholder="Id Tarea">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="idUsuarioAlta" placeholder="Id Usuario">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="idUsuarioModificacion" placeholder="Id Usuario Modificacion">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="estatus" placeholder="Estatus">
            </mat-form-field>
            <div class="button-row">
                <button mat-fab color="primary" type="submit" [disabled]="form.invalid">Enviar</button>
                <button mat-fab color="warn" (click)="onClear()" [disabled]="form.invalid">Cancelar</button>
            </div>
        </div>

    </form>
</div>