.contenedor {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    max-width: 600px;
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 10px;
}

example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.example-right-align {
    text-align: right;
}

input.example-right-align {
    -moz-appearance: textfield;
}