<block-ui [template]="blockTemplate">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <app-sidenav></app-sidenav>
        </mat-drawer>
        <div class="example-sidenav-content">
            <button mat-fab color="primary" (click)="drawer.toggle()">
            <fa name="bars"></fa>
          </button>
        </div>
        <div class="example-container">

            <router-outlet></router-outlet>

        </div>

        <app-footer></app-footer>

    </mat-drawer-container>
</block-ui>
<ng-template #blockTemplate>
    <div class="block-ui-template">
        <div class="spinner">
            <p><i>Cargando...</i></p>
            <br>
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</ng-template>